.place__title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  width: 47.5%;
  max-height: 152px;
  margin: 0 40px 48px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .place__title {
    margin-right: 32px;
  }
}

@media screen and (max-width: 928px) {
  .place__title {
    margin-right: 36px;
    font-size: 42px;
    line-height: 1.09;
    width: 46%;
  }
}

@media screen and (max-width: 720px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 32px;
    padding: 0 16px;
    width: 100%;
  }
}
