.photo-grid {
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 16px;
  margin: 0 auto 92px;
  width: 92.5%;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    display: -ms-grid;
    display: grid;
    grid: repeat(4, 1fr) / repeat(3, 1fr);
    width: 90.6%;
    gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    display: -ms-grid;
    display: grid;
    grid: repeat(6, 1fr) / repeat(2, 1fr);
    width: 93.7%;
    gap: 16px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    display: -ms-grid;
    display: grid;
    grid: repeat(12, 1fr) / repeat(1, 1fr);
    width: 90%;
    gap: 12px;
    margin: 0 auto 64px;
  }
}
