.places {
  padding: 0 148px 88px;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .places {
    padding: 0 48px 92px;
  }
}

@media screen and (max-width: 928px) {
  .places {
    padding: 0 24px 90px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    padding: 0 0 66px;
  }
}
