.place__image {
  width: 46.9%;
  height: 46.9%;
  margin-right: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .place__image {
    margin-right: 32px;
    width: 47.5%;
    height: 47.5%;
  }
}

@media screen and (max-width: 928px) {
  .place__image {
    margin-right: 28px;
    width: 47%;
    height: 47%;
  }
}

@media screen and (max-width: 720px) {
  .place__image {
    width: 100%;
    height: 100%;
    margin: 0 0 32px;
  }
}
