.lead {
  width: 100%;
  margin: 0 0 92px;
  padding: 0 148px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1184px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 928px) {
  .lead {
    padding: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 720px) {
  .lead {
    margin-bottom: 66px;
    padding: 0 2px;
  }
}
