.header {
  padding: 28px 48px 0;
  width: 100%;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 928px) {
  .header {
    padding: 28px 24px 0;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding: 16px 16px 0;
    margin-bottom: 48px;
  }
}
