.header__link:last-child {
  margin-left: 18px;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.17;
  opacity: 1;
}

.header__link:hover {
  opacity: 0.8;
  transition: opacity 0.4s linear;
}

@media screen and (max-width: 720px) {
  .header__link {
    font-size: 18px;
    line-height: 1.11;
    font-weight: 400;
  }
  .header__link:first-child {
    margin-right: 16px;
  }
}
