.lead__title {
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  margin: 0 auto 32px;
  width: 720px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 14px;
    box-sizing: border-box;
  }
}
