.place__paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.63;
  width: 100%;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}
