@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter.ttf);
}
.root {
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #2a2c2f;
  color: white;
  display: flex;
  min-width: 1280px;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .root {
    min-width: 1025px;
  }
}

@media screen and (max-width: 1024px) {
  .root {
    min-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .root {
    min-width: 320px;
  }
}
