.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  margin: 0 auto 58px;
  width: 640px;
}

@media screen and (max-width: 928px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}
@media screen and (max-width: 720px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto 40px;
  }
}
