.cover {
  padding: 0 48px;
  width: 100%;
  height: 740px;
  display: flex;
  margin: 0 auto 92px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .cover {
    padding: 0;
    margin: 0 0 92px;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
    height: auto;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 0;
    height: auto;
    width: 100%;
    margin: 0 auto 64px;
  }
}
