.cover {
  width: 92.5%;
  height: 57.8vw;
  display: flex;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    margin: 0 auto 64px;
  }
}
