.cover__overlay {
  display: flex;
  width: 100%;
  background: rgba(42, 44, 47, 0);
  flex-direction: column;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.7);
  transition: background 1s linear;
}
