.cover__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-decoration: none;
  padding: 245px 0 0;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.cover__item::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.4s linear;
}

.cover__item:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .cover__item {
    min-height: 640px;
    padding-top: 195px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__item {
    min-height: 480px;
    padding-top: 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__item {
    min-height: 200px;
    padding-top: 33px;
  }
}
