.intro__title {
  margin: 0 0 40px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    font-weight: 900;
    width: 80%;
  }
}
